@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;500&family=Barlow+Semi+Condensed:wght@600;700&family=Bebas+Neue&family=Courier+Prime&family=Cutive&family=Dosis:wght@400;500&family=Hepta+Slab:wght@300;400;500;600&family=IM+Fell+DW+Pica+SC&family=JetBrains+Mono:wght@100;500&family=Josefin+Sans:wght@600&family=Kumbh+Sans:wght@200;700&family=League+Spartan:wght@700&family=Mohave&family=Mukta:wght@300&family=Nanum+Gothic&family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,800;1,400&family=PT+Sans&family=PT+Sans+Narrow&family=PT+Serif&family=Poppins:wght@200;300;400;500;700&family=Public+Sans:wght@300;400;500;600&family=Quicksand:wght@300&family=Roboto+Mono:wght@200;500&family=Roboto:wght@300;400&family=Schoolbell&family=Silkscreen&family=Taviraj:wght@200;300;400;500;600&family=Work+Sans:wght@300;400;500;600&display=swap');
/** VARIABLES */

#root {
  --color-primario: #bfe0c0;
  --color-secundario: #3e3433;
  --color-oscuro: #505045
  --gray-light: #f8f9fa;
  --gray: #e6e6e6;
  --black-light: #333;
  width: 100%;
  overflow-x: hidden;
  background-color: var(--gray-light);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Archivo Narrow', sans-serif;
}
body html {
  width: 100%;
  height: 100%;
}
