.contenedor-carrito{
width: 100%;
height: 100%;
margin-top: 3rem;
display: flex;
justify-content: center;
align-items: center;
}
.contenedor-carrito .eliminar{
    border:none;
    background-color:var(--gray);
}
 
.carrito{
    width: 80%;
    padding: 2rem;
    min-height: 500px;
    background-color: var(--gray);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-carrito .btn-light{
margin: 1rem;
}

.titulo__carrito{
    margin-bottom:1rem;
    font-weight: 600;
}

.contenedor-carrito .compra-total{
    color:var(--color-secundario);
}