/*H1 TITLE*/
.destacados {
  text-align: center;
  margin: 1rem;
  font-size: 1.6rem;
  transition: all 0.4s ease-in;
  text-transform: uppercase;
}

.destacados:hover {
  letter-spacing: 4px;
}

.img-principal {
  text-align: center;
}
.img-principal img {
  max-width: 50%;
  max-height: 300px;
  border-radius: 20%;
  margin: 3rem;
}

.tarjeta {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border: none;
  text-align: center;
  padding: 0.4rem;
  margin: 0.5rem;
}

li {
  list-style: none;
}

.organizador {
  background-color: var(--organizador);
  padding: 0.5rem;
}
.organizador a {
  color: #000;
}
