nav {
  width: 100%;
  text-transform: uppercase;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 45px;
  padding-top: 0.4rem;
  background-color: var(--color-primario);
}
nav a {
  text-decoration: none;
  font-size: .9rem;
  letter-spacing: 1px;
  font-weight: 600;
  color: var(--color-secundario);
  transition: all 0.5s;
}

nav .bi {
  cursor: pointer;
  position: relative;
  bottom: 1.1rem;
  text-align: start;
}

p svg {
  text-align: end;
  margin: auto;
}

.svg-button {
  border: none;
  background-color: var(--color-primario);
}

.nav-mobile {
  display: none;
}

@media (max-width: 600px) {
  nav {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: #f5f3f3;
  }
  nav a {
    font-size: 0.9rem;
  }
  nav .svg-button {
    background-color: #f5f3f3;
  }
}
