.productos{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap:1rem;
}

.productos img{
    text-align: center;
  /*  height: 300px;*/
    cursor: pointer;
    transition: transform .2s ease-in; 
    padding: 1rem;
}

.productos img:hover{
    transform: scale(1.05);
}


/*INPUT*/
.contenedor-header{
    width: 100%;
    height: auto;
    margin:1rem
 /*   background-color: #ededed;*/
}

form{
    width: 100%;
     display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-header input{
    width: 30%;
    height: 2.3rem;
    padding: 0.5rem;
    outline: none; 
    margin-top: 2rem;
    background-color:#ededed;
    border: 1px solid #8c8c8c;
}

form svg{
    position: relative;
    right: 1.2rem;
    top:1rem;
    cursor: pointer;
    color:var(--color-oscuro);
    margin-right:0.5rem;
}

.card-body{
    height: 8.5rem;
    text-align: center;
}
.card-body i{
    font-size: 1rem;
}

.productos .btn-warning{
    color:black;
    font-weight: 600;
    font-size: .8rem;
}

.btn-warning{
    background-color: var(--color-primario) !important;
    border:none;
}

@media (max-width:765px){
    .contenedor-header input{
        width: 50%;
    }
}
@media (max-width:460px){
    .contenedor-header input{
        width: 90%;
        height: 2.8rem;
    }
}

@media (max-width:300px){
    .productos .bg-danger{
      position: relative;
      bottom:0;
      left:0;
    }
    .productos img{
        max-width: 200px;
    }
}
